body {
    background-color: aqua;
}
h1 {
    font-size: 100px;
    color: blueviolet;
    background-color: lightblue;
    text-align: center;
}
h2 {
    font-size: 40px;
    color: lightcoral;
    background-color: rgb(153, 218, 218);
    text-align: center;
}
.doctores {
    font-size: 30px;
    color: lightgrey;
    background-color: rgb(10, 10, 3);
    border: 5px mediumorchid;
    border-radius: 5px;
}
.tomate{
    background-color: tomato;
    color: rosybrown;
}
.rosa{
    background-color: pink;
    color: aqua;
}
.rojo{
    background-color: red;
    color: beige;
}
