.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

.header {
    background: coral;
}

.footer {
    background: whitesmoke;
}

.main {
    text-align: left;
    background: deepskyblue;
}

.aside-1 {
    background: dimgray;
}

.aside-2 {
    background: fuchsia;

}
